.main{
    background: #4285F4;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 791px;
}
#home-content{
    color: #FFF;
    font-family: Roboto;
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.head-text {
    position: relative;
    color: white;
 }
 .text-on-image {
   position: absolute;
   right: 50%;
   left: 7%;
   bottom: 20%;
 }

 .blackbox{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow-x: hidden;
  }